button{
    padding: 15px 50px;
    font-size: 18px;
    font-weight: bold;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.9;
}
body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    padding: 30px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.event-card {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-left: 6px solid red;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}